body {
	width: 100%;
	// max-width: 1250px;
	overflow-x: hidden;
	margin: 0;
}

h1, p, li {
	font-family: 'Lato', sans-serif;
}

.container {
	width: 100%;
	// max-width: 1250px;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

}

#nav img {
	max-width: 240px;
}

#hero {
	width: 90%;
	margin: 0 auto;
	display: block;
}

#hero img { 
	max-width: 1250px; 
	margin: 0 auto;
	display: block;
}

.contact-container {
	background-color: #cad1d4;
	display: flex;
	flex-direction: row;
	justify-content: center;
}




#footer {
	width: 100%;
	// max-width: 1250px;
	height: 170px;
	background-color: #144053;
}