body {
	width: 100%;
	// max-width: 1250px;
	overflow-x: hidden;
	margin: 0;
}

h1, p, li {
	font-family: 'Lato', sans-serif;
}

.container {
	width: 100%;
	// max-width: 1250px;
}

#nav { 
	height: 155px; 
	display: flex;
	justify-content: space-between;

}
#nav img {
	width: 215px;
	margin: 30px 50px;
}

.nav-container {
	// align-self: flex-end;
	list-style: none;
	margin: 60px 50px 0px 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end ;
}
.nav-container li {
	margin: 0 30px;
	font-size: 21px;
	font-weight: 600;
	color: #144053;
	text-decoration: none;
}

#hero { width: 100%; }

#hero img { 
	width: 100%;
	display: block;
}

#contact { background-color: #cad1d4;}
.contact-container {
	background-color: #cad1d4;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #144053;
	padding: 0px 80px;
	width: 60%;
}
.contact-container h1 { 
	font-size: 25px; 
	font-weight: 100;
}
.contact-container p {
	font-size: 19px;
	font-weight: 100;
	padding-top: 4px;
}
.contact-container i { margin: 0px 5px;}

#lawyers h1 {
	font-size: 25px; 
	font-weight: 100;
	margin-left: 80px;
}
.lawyers-container {
	width: 90%;
	display: block;
	margin: 0 auto;
}
.lawyers-container h1 {
	font-size: 42px;
	font-weight: 700;
	color: #144053;

}




#footer {
	width: 100%;
	// max-width: 1250px;
	height: 170px;
	background-color: #144053;
}