
.nav-container-toggle {
  display: none;
  position: absolute;
  top: 5px;
  right: 55px;
  color: black;
  font-size: 2em;
  cursor: pointer;
}


@media (min-width: 1200px) {
  .container {
    width: 1080px;
  }
}
#nav,
.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav {
  padding-top: 2em;
}

.site-logo {
  -ms-flex-item-align: center;
      align-self: center;
}

.nav-container {
  margin-top: 1.5em;
}
.nav-container a {
  display: block;
  color: #797e83;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  padding: 0.4em;
  border-bottom: 1px solid #ebecec;
}
.nav-container a:hover {
  color: #0b0b0b;
  border-bottom-color: #52bab3;
}

@media (min-width: 769px) {
  #nav {
    height: 200px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .nav-container {
    margin-top: 3em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-container a {
    border-bottom-color: transparent;
  }
}
@media (min-width: 1025px) {
  .nav-container-toggle {
    display: none;
  }

  #nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .site-logo {
    margin-right: auto;
  }

  .nav-container {
    margin-top: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .nav-container li {
    margin-left: 0.65em;
    margin-right: 0.65em;
  }
}
@media (max-width: 767px) {
  .nav-container-toggle {
    display: inline;
  }

  .nav-container {
    display: none;
  }

  .nav-container.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .site-logo {
    -ms-flex-item-align: left;
        align-self: left;
  }
}