body {
	width: 100%;
	// max-width: 1250px;
	overflow-x: hidden;
	margin: 0;
}

h1, p, li, a {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 100%;
	// max-width: 1250px;
}

#nav { 
	height: 155px; 
	display: flex;
	justify-content: space-between;
	width: 90%;
}
#nav img {
	width: 215px;
	margin: 30px 50px;
}
#nav .nav-container img {
	width: 20px;
	position: absolute;
	margin: 0;
	top: 20px;
	left: 90%;
}
.nav-container {
	/*align-self: flex-end;*/
	list-style: none;
	margin: 60px 50px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end ;
}
#nav ul li a,
#nav ul li a:after,
#nav ul li a:before {
  transition: all .25s;
}
#nav.stroke ul li a {
  position: relative;
  padding: 0 10px 4px 10px;
}
#nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 2px;
}
#nav.stroke ul li a:hover:after {
  width: 100%;
}
.nav-container li {
	margin: 0 30px;
	font-size: 15.4px;
	font-weight: 600;
	color: #144053;
	text-decoration: none;
}
#mobile-nav-button {
  display: none;
}

#hero { width: 100%; }

/*#hero img { 
	width: 100%;
	display: block;
}
#hero img.mobile-hero { display: none; }*/
#hero .item.one {
	background: url("images/hero-desktop-1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#hero .item.two {
	background: url("images/hero-desktop-2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#hero .item.three {
	background: url("images/hero-desktop-3.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
#hero .item {
	height: 437px;
	font-family: 'Lato';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	padding-left: 10%;
}
#hero .item h1 {
	font-size: 74px;
	font-weight: 400;
	color: #fff;
	margin: 0;
}
#hero .item p {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	margin-top: 20px;
	letter-spacing: 2px;
}


/*HOMEPAGE*/

#home-main {
	width: 100%;
	background-color: #dce1e3;
	text-align: center;
	margin: 0;
	padding: 60px 0; 
}
#home-main h1 {
	font-size: 35px;
	font-weight: lighter;
	color: #154154;
    margin: 10px 0 0 0;
}

#home-main .home-paragraph {
	width: 80%;
	margin: 50px auto 0;
	text-align: left; 
	font-size: 19px;
	font-weight: lighter;
	color: #4e5050;
	line-height: 28px;
	letter-spacing: 1px;
}
#home-main .home-paragraph p {
 	margin: 30px 0;
 }

.three-block {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 60px;

}

.block {
	width: 33%;
	box-sizing: border-box;
	margin: 10px 0;
	background-color: #fff;
	height: 200px;
	position: relative;
}
.block.middle {
	margin: 10px 30px;
}
.block h1 {
	text-align: left;
	padding: 30px;
	font-weight: 500 !important;
	font-size: 40px !important;
}
.block a {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #144053;
	color: #fff;
	padding: 6px 0;
	font-weight: 100;

}

/*ABOUT PAGE*/

.about #hero {
	background-color: #154154;
	padding: 40px 100px;
}
.about #hero h1 {
	color: #fff;
	font-size: 74px;
	font-weight: 100;
	margin: 0;
}

.gallery-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 80%;
	margin: 30px auto 0;
}
.gallery-row img { 
	width: 25%; 
	cursor: pointer;
}

























#footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 60px 0px 20px 0px;
	height: auto;
	background-color: #144053;
	color: #fff;
}
.footer-top {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    width: 1100px;
    margin: 0 auto 20px;
    text-align: center;
}
.footer-top p { 
	font-size: 16px;
	font-weight: 100; 
	letter-spacing: 1px;
	margin: 7px 0;
}
.twitter-btn-footer {
	position: absolute;
	width: initial;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	top: 100px;
}
.twitter-btn-footer p {
	margin: 0;
	padding: 0 0 0 5px;
	align-self: flex-end;
}
.footer-bottom	{
	display: flex;
	justify-content: space-between;
	width: 1100px;
	margin: 0 auto;

}
.footer-bottom p { 
	font-size: 14px;
	font-weight: 200;
}

@media only screen and (max-width: 1150px) {

	.lawyers-container h1 { font-size: 34px; }
	.lawyer-details { width: 46%; }

	#footer { height: 220px; }
    .footer-top {
    	display: block;
    	margin: 0px 50px;
    } 
    .footer-top p.desktop { display: none; }
    .footer-top p.mobile { display: block; }
    .footer-bottom {
        width: 600px;
    }
}


@media only screen and (max-width: 950px) {
	.lawyers-container h1 { 
		font-size: 28px; 
		max-width: 260px;
	}
	.lawyer-details { width: 57%; }
}

@media only screen and (max-width: 750px) {

	html { overflow-x: hidden; }

	#nav { 
		height: auto; 
		display: block;
	}
	.nav-container {
	    position: absolute;
        display: block;
        margin: 0 0px 10px 10px;
        z-index: 1000;
        top: 0;
        right: 0;
        padding: 10px 0;
        height: 181px;
        background-color: #cad1d4;
        width: 0px;
        opacity: 1;
        overflow-x: hidden;
	    transition: all 0.25s ease-in;
	}
	.nav-container li {
		height: 19%;
		padding-top: 13px; 
		border-bottom: 1px solid #144053;
	}
	#nav img {
	    margin: 20px auto;
	    display: block;
		width: 250px;
	}
	div#mobile-nav-button {
	  display: block;
	  text-align: left;
	  padding: 0 0px 20px 20px;
	  font-size: 200%;
	}
	.nav-open { width: 360px; }
	
	#hero img.desktop-hero { display: none; }
	#hero img.mobile-hero { display: block; }

	.contact-container { 
		width: 90%; 
		display: block;
		margin: 0 auto;
		padding: 5px 0 0 0;
	}
	.contact-container > h1,
	.contact-container > a p {
		display: block;
		margin: 0 auto;
		text-align: left;
		margin: 0;
		padding-bottom: 10px;
		font-size: 84%;
	} 
	.contact-container i { margin: 0 5px 0 0; }


	h1.heading {
		width: 90%;
	    margin: 20px auto;
	}

	.lawyers-container h1 { 
		margin-left: 0;
		margin-bottom: 0;
		font-size: 26px; 
		max-width: 300px;
	}
	.lawyer,
	.lawyer-details { display: block; }

	#footer { height: 250px; }
	.footer-top,
	.footer-bottom {  }
	.footer-top { 
		margin: 0 auto;
		width: 90%;
	}
	.footer-bottom { 
		display: block;
		width: 90%; 
		margin-top: 40px;
	}
	.footer-bottom p {
		margin: 5px 0;
		font-size: 78%;
		letter-spacing: 1px;
	}
}

@media only screen and (max-width: 450px) {
	
}





